#app{

    padding: 1rem 2rem;

    form{
        margin: 1rem 0;
        background-color: $grey;
        color : $white;
        display: flex;
        flex-flow : column nowrap;
        border-radius: 1rem;
        padding: 1rem ;
        border: 1px solid $blue;
        position: relative;
        #submit{
           
            margin: 1rem 0;
            padding:.2rem;
            background-color: $blue;
            color: $white;
            border-radius: 10rem;
            transition: .6s;
            &:hover{
                color: $blue;
                background-color: $white;
            }

        }
        
    }
    .content{
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid $blue;
        box-shadow: 1px 1px 1px $blue;
        
        @include hoverColorBackgroundColor($blue,$white);
        
    }
    .parent{
        display: flex;
        justify-content: space-between;
        #modify, #back{
            padding: 0.3rem;
            border-radius: 1rem;
            background-color: $white;
            color: $blue;
            transition: 0.6s;
            cursor: pointer;
            
        }
        #modify{
            cursor: pointer;
            &:hover{
                color: greenyellow;
            }
        }
        #back{
            cursor: pointer;
            &:hover{
                color: rgb(255, 47, 47);
            }
        }
    }
   
}


